* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: titulo;
  src: url(fontes/Pokemon\ Solid.ttf);
}



body {
  font-family: titulo;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 2px;
  background-image: url('/pokemonbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: rgb(255, 46, 46);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.904);
  width: 100%;
  padding: 20px 0;
}

.btnestilo {
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.2s;
}

.btnestilo:hover {
  background-color: rgb(150, 40, 40);
  transform: scale(1.05);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.75); 
  padding: 20px;
  border-radius: 10px;
}

.home h1 {
  margin-bottom: 10px;
}

.home p {
  margin-bottom: 10px;
  line-height: 1.5;
}


 /* Inicio do estilo da lista de pokémons */
 .pokelist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 }
 
.pokelist {
  background-color: rgba(255, 255, 255, 0.75);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100vh;
  max-height: 60vh;
  overflow-y: auto;
  padding: 15px;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background: #eee;
}

.card-nome {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 5px;
  text-transform: capitalize;
  font-weight: bold;
}
/* Fim do estilo da lista de pokémons */



/* Estilo do container de detalhes */
.details-container {
  background-color: rgba(255, 255, 255, 0.623);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
}

.links {
  text-decoration: none;
  color: white;
}
/* Fim do estilo de detalhes */

/* Estilo da search */
.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}
.busca {
  width: 200px;
  height: 20px;
  margin: 10px;
  border: none;
  border-radius: 6px;
}

.btnbusca{
  cursor: pointer;
  width: 80px;
  height: 20px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.2s;
}

.btnbusca:hover {
  background-color: rgb(150, 40, 40);
  transform: scale(1.05);
}
/* Fim do estilo da search */

/* Estilo da página pokeinicial */
.opcoes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.card {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
}

.card img {
  width: 120px;
}

.card:hover {
  transform: scale(1.1);
}

.selecionado {
  border: 3px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}
/* Fim do estilo pokeincial */