body{
  display: flex;
  background-color: rgb(236, 236, 236);
  color: rgb(221, 0, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;  
  cursor: pointer;
}


.btnestilo{
  width: 60px;
  height: 40px;
  margin: 0 5px;
  background-color: brown;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border-style: none;
}