body{
  background-image: url('src/assets/pokemonbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: rgb(221, 0, 0);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 10;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btnestilo{
  cursor: pointer;
  width: 60px;
  height: 40px;
  margin: 0 5px;
  background-color: brown;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: none;
}


